<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/goods/goodsList" method="post">
    <select name="goodsdistrict">
        <option value="1">朝阳区订单</option>
        <option value="2">海淀区订单</option>
        <option value="3">丰台区订单</option>
        <option value="4">西城区订单</option>
        <option value="5">昌平区订单</option>
    </select>
    <input type="submit" value="提交"/>
</form>
</body>
</html>